PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=insurance_approval

SQLITE_PATH=/data/database.sqlite

JWT_SECRET=supersecretjwtkey

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Insurance Approval <company@example.com>"

APP_BASE_URL=http://localhost:8100
API_BASE_URL=http://localhost:3000